* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

section:not(.hero), nav, footer, .container {
    width: 90%;
    margin: 0 auto;
}

/* hero Section */
.hero {
    background-image: url('http://via.placeholder.com/1400x650');
    background: no-repeat cover;
    width: 100%;
    height: 650px;
}

.hero h1 {
    font-size: 56px;
    padding: 50px 0 10px;
}

.hero h2 {
    font-size: 32px;
}

/* Nav Section */
nav {
    display: flex;
    justify-content: space-between;
}

ul.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* information Section */
section.information {
    display: flex;
}

/* photoLinks Section */
.photoLinks {
    display: flex;
    justify-content: space-between;
}
.links {
    margin: 5px;
}

.links h4 {
    position: relative;
    color: #FFF;
    background-color: #000;
    bottom: 30px;
}