* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
}

section:not(.hero), footer, .container {
    width: 90%;
    margin: 0 auto;
}

/* hero Section */
.hero {
    background-image: url('http://via.placeholder.com/1400x650');
    background: no-repeat cover;
    width: 100%;
    height: 650px;
}

.hero h1 {
    font-size: 56px;
    padding: 50px 0 10px;
}

.hero h2 {
    font-size: 32px;
}

/* Nav Section */
nav {
    height: 100px;
    color: #FFF;
    background-color: #112E1E;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

nav a:link, nav a:visited {
    color: #FFF;
}

ul.navBar {
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* information Section */
section.information {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.mainInfo{
    width: 40%;
}

.whereToFind {
    width: 40%;
    border: 1px solid #b3b3b3;
    padding: 15px;
}

.whereToFind h3{
    text-align: center;
    padding-bottom: 10px;
}

.storeInfo {
    display: flex;
    justify-content: space-between;
}

/* photoLinks Section */
.photoLinks {
    display: flex;
    justify-content: space-between;
}
.links {
    margin: 5px;
}

.links h4 {
    text-align: center;
    height: 65px;
    padding: 15px;
    font-size: 24px;
    position: relative;
    color: #FFF;
    background-color: #112E1E;
    bottom: 65px;
}